table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.crimson{
  background-color: crimson;
  color:white
}
.pointer{
  cursor: pointer;
  font-size: 36px;
}
.headTable{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}

.mat-header-cell{
  text-align: center !important
}
