<div id="listCards" >
  <mat-card class="example-card" *ngFor="let employee of employees">
    <mat-card-header>
      <mat-card-title>{{employee.nom}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{employee.photo}}" alt="Photo of {{employee.nom}}">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Liste de jour arrété</mat-label>
        <mat-select>
          <mat-option *ngFor="let jourArret of employee.jourArret" [value]="jourArret">
            {{jourArret}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Liste de jour travaillé</mat-label>
        <mat-select>
          <mat-option *ngFor="let jourTravaille of employee.jourTravaille" [value]="jourTravaille">
            {{jourTravaille}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Liste des prestations</mat-label>
        <mat-select>
          <mat-option *ngFor="let prestation of employee.listeDesPrestations" [value]="prestation">
            {{prestation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p> Pause entre prestations : {{employee.pauseEntrePrestation}}</p>
      <p> Profession : {{employee.profession}}</p>

    </mat-card-content>
    <mat-card-actions>
      <button class="halfWidth" mat-raised-button color="primary">MODIFIER</button>
      <button class="halfWidth" mat-raised-button color="warn">SUPPRIMER</button>
    </mat-card-actions>
  </mat-card>
</div>
