
<p *ngIf="(authService.getUser() | async)?._id">
  <mat-toolbar color="primary" style="justify-content: space-between;">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/planning">
        <button mat-menu-item>
          <mat-icon>calendar_today</mat-icon>
          <span>Planning</span>
        </button>
      </a>
      <a routerLink="/administration">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Administration</span>
        </button>
      </a>
    </mat-menu>
    <span>My App</span>
    <button [matMenuTriggerFor]="menuAuth" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menuAuth="matMenu">
      <a routerLink="/reservationListUser">
      <button mat-menu-item>
        <mat-icon>collections_bookmark</mat-icon>
        <span>Mes réservations</span>
      </button>
    </a>
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
