
<p *ngIf="(authService.getUser() | async)?._id">
  <mat-toolbar color="primary" style="justify-content: space-between;">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <span>My App</span>
    <button [matMenuTriggerFor]="menuAuth" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menuAuth="matMenu">
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>
