<div id="listCards">
  <mat-card [ngClass]="prestation._id === prestationSelected._id ? 'colorSelected' : ''  " *ngFor="let prestation of prestations" class="example-card">
    <mat-card-header>
      <mat-card-title>{{prestation.nom}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{prestation.image}}">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="selectPrestation(prestation)" mat-raised-button color="primary">Sélectionnez</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-calendar [prestationSelected]="prestationSelected" (prestationEvent)="bookPrestation($event)"></app-calendar>
