.example-card {
  max-width: 400px;
  margin: 2em 0 2em 0;
}

#listCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10em 0 10em;
}

.colorSelected{
  background-color: #00bfff;
}
