.example-card {
  max-width: 400px;
  margin: 2em 0 2em 0;
}

#listCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10em 0 10em;
}


.colorSelected{
  background-color: #00bfff;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.red{
  background-color: red;
}
